.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 10px;
}

.counter-body {
    top: 0;
    position: sticky;
    background-color: rgb(181, 204, 247);
    margin: 20px;
    padding: 15px;
    border-radius: 7px;
}